* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  font-family: var(--font-body);
  background-color: var(--navy);
  color: var(--text-main);
  overflow-x: hidden;
  scroll-behavior: smooth;
  cursor: none; /* Due to custom cursor */
}

a {
  text-decoration: none;
  color: inherit;
}

button, input {
  font-family: inherit;
  border: none;
  outline: none;
  background: none;
}

ul {
  list-style: none;
}
